@font-face {
  font-family: "haymakerregular";
  src: url("../fonts/haymaker-webfont.eot");
  src: url("../fonts/haymaker-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/haymaker-webfont.woff") format("woff"),
    url("../fonts/haymaker-webfont.ttf") format("truetype"),
    url("../fonts/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "blanchcaps_inline";
  src: url("../fonts/blanch_caps_inline-webfont.eot");
  src: url("../fonts/blanch_caps_inline-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/blanch_caps_inline-webfont.woff") format("woff"),
    url("../fonts/blanch_caps_inline-webfont.ttf") format("truetype"),
    url("../fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  line-height: 1.15;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  text-align: left;
  background-color: #f6f6f6;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Catamaran";
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  margin-top: 0;
}

h1,
.h1 {
  font-size: 4.1rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.1rem;
}

h4,
.h4 {
  font-size: 1rem;
}

h5,
.h5 {
  font-size: 0.85rem;
}

h6,
.h6 {
  font-size: 0.65rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Catamaran";
}

a {
  color: white;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Catamaran";
}

a:hover,
a:focus {
  color: #343a40;
  outline: 0;
}

a:hover {
  color: #343a40;
}

ul {
  list-style: none;
  font-family: "Catamaran";
}

/*----------------------------------------------
* Form Elements
----------------------------------------------*/
.form-control {
  display: block;
  width: 96%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  transition-duration: 0.3s;
}
.form-control-lg {
  padding: 0.85rem 0.85rem;
  font-size: 16px;
}
.form-control-sm {
  padding: 0.45rem 0.55rem;
  font-size: 12px;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 4px);
}
.input-group .input-group-addon {
  background: transparent;
}
.input-group .input-group-addon em {
  font-size: 14px;
}

.title {
  margin-bottom: 35px;
  min-height: 32px;
  font-weight: 700;
}
/*----------------------------------------------
* Navigation
----------------------------------------------*/
.navbar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  padding: .5rem 1rem;
}
.navbar-brand {
  margin-top: 0px !important;
  padding-bottom: 0px;
  display: inline-block;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.nav-brand-logo {
  width: 60px;
}
.icon-togger {
  width: 24px;
  color: #fff !important;
}
.navbar-nav .nav-item .nav-link {
  padding: 0.5rem 1rem !important;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-nav .nav-link em,
.navbar-nav .nav-link i {
  font-size: 18px;
}
.navbar.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none;
  color: black !important;
  padding-bottom: 0;
  padding-top: 25px;
}
@media (max-width: 992px) {
  .navbar.navbar-transparent {
    background-color: rgba(0, 0, 0, 0.4) !important;
    padding-top: 10px;
    border-radius: 0;
  }
}
.dropdown-menu .dropdown-item {
  padding: 6px 1.5rem;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 25px;
}
/*.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}*/
.navbar-toggler {
  font-size: 2rem;
  line-height: 1;
  border: none;
  border-radius: 0;
  color: #fff !important;
  cursor: pointer;
}

.navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}

.navbar-toggleable .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-toggler:focus {
  outline: none;
}
.dropdown-toggle::after {
  vertical-align: top;
  content: "\f3d0";
  border-top: none;
  border-right: none;
  border-left: none;
  font-family: "Ionicons";
  font-size: 17px;
  margin-top: -4px;
}
.navbar-nav .dropdown .dropdown-toggle:after {
  margin-top: 0px;
}
.btn-group .dropdown-toggle:after {
  font-size: 17px;
}
.btn + .dropdown-toggle-split {
  padding-right: 1.5rem;
}

/*----------------------------------------------
* Cards Elements
----------------------------------------------*/
.card {
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 3px;
  border: none;
  position: relative;
  margin-bottom: 30px;
}
.card-progress:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("../img/spinner.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.card-progress -progress-dismiss {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff !important;
  padding: 5px 13px;
}
.card-primary {
  border-top: 2px solid #574b90;
}
.card-secondary {
  border-top: 2px solid #868e96;
}
.card-success {
  border-top: 2px solid #3ebb3c;
}
.card-danger {
  border-top: 2px solid #dc2649;
}
.card-warning {
  border-top: 2px solid #fbd82b;
}
.card-info {
  border-top: 2px solid #17a2b8;
}
.card-dark {
  border-top: 2px solid #343a40;
}
.card .card-header,
.card .card-footer,
.card .card-body {
  background-color: transparent;
}
.card .card-body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.card .card-footer.card-footer-grey {
  background-color: #fbfbfb;
}
.card .card-header {
  margin-top: 0 !important;
  border-bottom-color: #f9f9f9;
  line-height: 30px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 100%;
}
.card .card-header .btn {
  padding: 2px 15px;
  font-size: 12px;
  border-radius: 30px;
}
.card .card-header .form-control {
  height: 30px;
  font-size: 12px;
}
.card .card-header .form-control + .input-group-btn .btn {
  border-radius: 0 3px 3px 0;
  margin-top: -3px;
}
.card .card-header .float-right .btn-group .btn {
  border-radius: 30px !important;
  padding-left: 13px !important;
  padding-right: 13px !important;
}
.card .card-header h4 {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 2px 0 -2px 0;
  font-family: "Montserrat";
  line-height: 30px;
}
.card .card-header h4 a.unstyled {
  font-size: 14px;
}
.card .card-footer {
  background-color: transparent;
  border: none;
  padding-top: 0;
}
.card-lg .card-header,
.card-sm .card-header,
.card-sm-2 .card-header,
.card-sm-3 .card-header,
.card-sm-4 .card-header,
.card-sm-5 .card-header {
  border-color: transparent;
  padding-bottom: 0;
}
.card-lg .card-header h4,
.card-sm .card-header h4,
.card-sm-2 .card-header h4,
.card-sm-3 .card-header h4,
.card-sm-4 .card-header h4,
.card-sm-5 .card-header h4 {
  line-height: 1.2;
}
.card-lg .card-body,
.card-sm .card-body,
.card-sm-2 .card-body,
.card-sm-3 .card-body,
.card-sm-4 .card-body,
.card-sm-5 .card-body {
  padding-top: 0;
}
.card-lg .card-header,
.card-lg .card-body,
.card-lg .card-footer {
  padding: 30px 40px;
}
.card-lg .card-header h4 {
  font-size: 22px;
  font-weight: 700;
}
.card-sm {
  display: inline-block;
  width: 100%;
}
.card-sm .card-header,
.card-sm .card-body {
  padding: 25px 0;
}
.card-sm .card-header {
  padding-top: 5px;
  padding-bottom: 30px;
  color: #868e96;
}
.card-sm .card-header h4 {
  font-size: 10px;
}
.card-sm .card-body {
  padding-bottom: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}
.card-sm .card-icon {
  float: left;
  display: inline-block;
  width: 55px;
  font-size: 20px;
  text-align: right;
  line-height: 84px;
  padding-right: 15px;
}
.card-sm .card-progressbar {
  padding: 0 25px 30px 0;
}
.card-sm .card-cta {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #f9f9f9;
}
.card-sm .card-cta a {
  font-size: 12px;
}
.card-sm .card-cta a i {
  margin-left: 5px;
}
.card-sm .card-wrap {
  margin-left: 55px;
}
.card-sm .card-options {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 20px;
}
.card-sm .card-options > a {
  color: #ddd;
}
.card-sm:hover .card-options > a {
  color: #999;
}
.card-sm-2 .card-icon {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 35px;
}
.card-sm-2 .card-header {
  padding-top: 20px;
  padding-bottom: 0;
}
.card-sm-2 .card-header h4 {
  font-size: 10px;
  color: #868e96;
}
.card-sm-2 .card-body,
.card-sm-3 .card-body,
.card-sm-4 .card-body,
.card-sm-5 .card-body {
  font-size: 26px;
  font-weight: 700;
  color: #000;
  padding-bottom: 0;
}
.card-sm-2 .card-progressbar {
  padding: 20px;
  border-radius: 30px;
}
.card-sm-2 .card-footer {
  color: #999;
  font-size: 12px;
  line-height: 22px;
}
.card-sm-3,
.card-sm-4 {
  display: inline-block;
  width: 100%;
}
.card-sm-3 .card-icon,
.card-sm-4 .card-icon {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 3px;
  line-height: 80px;
  font-size: 28px;
  text-align: center;
  float: left;
  margin-right: 15px;
  color: #fff;
}
.card-sm-3 .card-header,
.card-sm-4 .card-header {
  padding-bottom: 0;
  padding-top: 25px;
}
.card-sm-3 .card-header h4,
.card-sm-4 .card-header h4 {
  font-size: 10px;
  letter-spacing: 1px;
  color: #868e96;
}
.card-sm-3 .card-body,
.card-sm-4 .card-body {
  font-size: 20px;
}
.card-sm-4 .card-icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 20px;
  line-height: 60px;
}
.card-sm-4 .card-header {
  margin-top: 5px;
}
.card-sm-4 .card-header,
.card-sm-4 .card-body {
  text-align: right;
}
.card-sm-5 {
  text-align: center;
}
.card-sm-5 .card-body {
  padding: 20px 20px 5px 20px;
}
.card-sm-5 .card-header {
  padding: 0 20px 20px 20px;
}
.card-sm-5 .card-header h4 {
  font-size: 10px;
  font-weight: 700;
  color: #868e96;
  letter-spacing: 1px;
}
.card-sm-5 .card-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 22px;
}
.card-sm-5 .card-chart {
  padding-top: 10px;
}
.card.bg-primary,
.card.bg-danger,
.card.bg-success,
.card.bg-info,
.card.bg-dark,
.card.bg-warning {
  color: #fff;
}
.card.bg-primary .card-header,
.card.bg-danger .card-header,
.card.bg-success .card-header,
.card.bg-info .card-header,
.card.bg-dark .card-header,
.card.bg-warning .card-header {
  color: #fff;
  opacity: 0.9;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/*----------------------------------------------
* Images Elements
----------------------------------------------*/
.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

/*----------------------------------------------
* Table Elements
----------------------------------------------*/

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #b8daff;
}

.table-hover .table-primary:hover {
  background-color: #9fcdff;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #9fcdff;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #d6d8db;
}

.table-hover .table-secondary:hover {
  background-color: #c8cbcf;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #c8cbcf;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #c3e6cb;
}

.table-hover .table-success:hover {
  background-color: #b1dfbb;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #b1dfbb;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #bee5eb;
}

.table-hover .table-info:hover {
  background-color: #abdde5;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #abdde5;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffeeba;
}

.table-hover .table-warning:hover {
  background-color: #ffe8a1;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #ffe8a1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f5c6cb;
}

.table-hover .table-danger:hover {
  background-color: #f1b0b7;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #f1b0b7;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdfdfe;
}

.table-hover .table-light:hover {
  background-color: #ececf6;
}

.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th {
  background-color: #ececf6;
}

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c6c8ca;
}

.table-hover .table-dark:hover {
  background-color: #b9bbbe;
}

.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th {
  background-color: #b9bbbe;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
}

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.table-dark {
  color: #fff;
  background-color: #212529;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
  border-color: #32383e;
}

.table-dark.table-bordered {
  border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive > .table-bordered {
  border: 0;
}