.col-1 {
    flex: 8.333%;
    float: left;
    padding: 15px;
}

.col-2 {
    flex: 16.667%;
    float: left;
    padding: 15px;
}

.col-3 {
    flex: 25%;
    float: left;
    padding: 15px;
}

.col-4 {
    flex: 33.333%;
    float: left;
    padding: 15px;
}

.col-5 {
    flex: 41.667%;
    float: left;
    padding: 15px;
}

.col-6 {
    flex: 50%;
    float: left;
    padding: 15px;
}

.col-7 {
    flex: 58.333%;
    float: left;
    padding: 15px;
}

.col-8 {
    flex: 66.667%;
    float: left;
    padding: 15px;
}

.col-9 {
    flex: 75%;
    float: left;
    padding: 15px;
}

.col-10 {
    flex: 83.333%;
    float: left;
    padding: 15px;
}

.col-11 {
    flex: 91.667%;
    float: left;
    padding: 15px;
}

.col-12 {
    flex: 100%;
    float: left;
    padding: 15px;
}